/* CSS DO INDEX */

*{
    padding: 0px;
    margin: 0px;
    font-family: 'Poppins', sans-serif;    
}

body{
    background-image: url('../imagens/background2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
}

@media(min-width:920px){
    .brand-logo{
        margin-left: 5%;
    }

    #nav-mobile{
        margin-right: 5%;
    }
}

@media(max-width:920px){
    #localizacao div{
        padding: 2em !important;
        border-radius: 5em !important;
    }
    .quadra{
        padding: 2em !important;
    }
}
    
nav{
    background-color: rgb(13, 118, 152);
}

#intro{
    display: flex;
    flex-direction: column;
    background-color: rgb(13, 118, 152);
    padding: 2%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30em;
    transform: translateY(-50%);
}

#localizacao{
    margin-top: 2%;
}

#localizacao div{
    background-color: rgba(13, 118, 152,0.4);
    padding: 2%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30em;
}

.endereco{
    font-size: 2em;
    color: #FFF;
}

#quadras div{
    background-color: rgba(13, 118, 152,0.4);
    padding: 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 3em;
}

.quadra{
    margin: 1%;
    background-color: rgb(13, 118, 152) !important;
}